

body{background-color:#262526;
    font-family: 'Quicksand', sans-serif;
    color:white;
}
p, form{font-family: 'Quicksand', sans-serif;
    color:white;}

h1{
font-size: 3em;
margin-bottom: 1em;}

button{
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid black;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-weight:300;
    font-family: 'Quicksand', sans-serif;
    color: black;
    text-align:center;

}

.gifStyle {
    justify-self: start;
}
.container{ 
    max-width: 73%;
    margin-left: 2em;
    margin-top: 1em;

}
#gifPlace{
margin: auto;
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-gap: 10px;
  font-family: 'Lato';
  text-align: center;
  font-size: 1.4em;
  margin: 40px 30px;

   
}
#buttons-view{
    display: flex;
    flex-direction: row;
}
#form-container{
        display: flex;
        flex-direction: row;
         justify-content: flex-end; 



    } 

