.container{
    
}

   

button{
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid black;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color: black;
    text-align:center;

}
#gifPlace{
  border: 2px red solid;
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-gap: 10px;
  font-family: 'Lato';
  text-align: center;
  font-size: 1.4em;
  margin: 40px 30px;
   
}
 #gifStyle9 {
    justify-self: start;
border: 2px solid green;}

#gifStyle8 {
    justify-self: start;
border: 2px solid purple;}

#gifStyle8 {
    justify-self: start;
border: 2px solid orange;}

#gifStyle7 {
    justify-self: start;
border: 2px solid blue;}

#gifStyle6 {
    justify-self: start;
border: 2px solid green;}

#gifStyle5 {
    justify-self: start;
border: 2px solid purple;}

#gifStyle4 {
    justify-self: start;
border: 2px solid orange;}

#gifStyle3 {
    justify-self: start;
    border: 2px solid blue;}
#gifStyle2 {
    justify-self: start;
border: 2px solid green;}

#gifStyle1 {
    justify-self: start;
border: 2px solid purple;}

#gifStyle0 {
    justify-self: start;
border: 2px solid orange;} */